In [0]:
import pandas as pd
import numpy as np
from collections import Counter

In [0]:
date_parser = lambda c: pd.to_datetime(c, format='%d/%m/%Y %H:%M:%S', errors='coerce')
data = pd.read_csv('ITSM_data.csv',parse_dates=['Open_Time','Reopen_Time','Close_Time','Resolved_Time'])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data.head()

   Unnamed: 0    CI_Name  ... No_of_Related_Changes Related_Change
0           0  SUB000508  ...                   NaN            NaN
1           1  WBA000124  ...                   NaN            NaN
2           2  DTA000024  ...                   NaN            NaN
3           3  WBA000124  ...                   NaN            NaN
4           4  WBA000124  ...                   NaN            NaN

[5 rows x 26 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 26 columns):
Unnamed: 0                    46606 non-null int64
CI_Name                       46606 non-null object
CI_Cat                        46495 non-null object
CI_Subcat                     46495 non-null object
WBS                           46606 non-null object
Incident_ID                   46606 non-null object
Status                        46606 non-null object
Impact                        46606 non-null object
Urgency                       46606 non-null object
Priority                      45226 non-null float64
number_cnt                    46606 non-null float64
Category                      46606 non-null object
KB_number                     46606 non-null object
Alert_Status                  46606 non-null object
No_of_Reassignments           46605 non-null float64
Open_Time                     46606 non-null datetime64[ns]
Reopen_Time                   2284 non-null datetime64[ns]
Resolved_Time                 44826 non-null datetime64[ns]
Close_Time                    46606 non-null datetime64[ns]
Handle_Time_hrs               46605 non-null object
Closure_Code                  46146 non-null object
No_of_Related_Interactions    46492 non-null float64
Related_Interaction           46606 non-null object
No_of_Related_Incidents       1222 non-null float64
No_of_Related_Changes         560 non-null float64
Related_Change                560 non-null object
dtypes: datetime64[ns](4), float64(6), int64(1), object(15)
memory usage: 9.2+ MB

In [0]:
Counter(data.No_of_Reassignments).most_common(20)

[(0.0, 27468),
 (1.0, 7268),
 (2.0, 5378),
 (3.0, 2191),
 (4.0, 1606),
 (5.0, 721),
 (6.0, 622),
 (7.0, 329),
 (8.0, 246),
 (9.0, 170),
 (10.0, 146),
 (11.0, 101),
 (13.0, 61),
 (12.0, 58),
 (14.0, 47),
 (15.0, 43),
 (17.0, 27),
 (16.0, 25),
 (18.0, 14),
 (21.0, 11)]

In [0]:
data.No_of_Reassignments[2].dtype

dtype('float64')

In [0]:
data.loc[data.No_of_Reassignments>3.0,'reassignment'] ='high'
data.loc[data.No_of_Reassignments<=3.0,'reassignment'] ='low'

In [0]:
data.head()

   Unnamed: 0    CI_Name  ... Related_Change reassignment
0           0  SUB000508  ...            NaN         high
1           1  WBA000124  ...            NaN         high
2           2  DTA000024  ...            NaN          low
3           3  WBA000124  ...            NaN         high
4           4  WBA000124  ...            NaN          low

[5 rows x 27 columns]

In [0]:
Counter(data.reassignment)

Counter({'high': 4300, 'low': 42305, nan: 1})

In [0]:
data = data[data.reassignment.isnull()==False]

In [0]:
Counter(data.reassignment)

Counter({'high': 4300, 'low': 42305})

In [0]:
selected = data.loc[:,['CI_Cat','CI_Subcat','WBS','Category','reassignment']]
selected.dropna(inplace=True)

In [0]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46494 entries, 0 to 46605
Data columns (total 5 columns):
CI_Cat          46494 non-null object
CI_Subcat       46494 non-null object
WBS             46494 non-null object
Category        46494 non-null object
reassignment    46494 non-null object
dtypes: object(5)
memory usage: 2.1+ MB

In [0]:
X = selected.loc[:,['CI_Cat','CI_Subcat','WBS','Category']]
y = selected.reassignment

In [0]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [0]:
enc = LabelEncoder()
X.CI_Cat = enc.fit_transform(X.CI_Cat)
X.CI_Subcat = enc.fit_transform(X.CI_Subcat)
X.WBS = enc.fit_transform(X.WBS)
X.Category = enc.fit_transform(X.Category)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y,random_state=0)

In [0]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

        high       0.37      0.01      0.02      1073
         low       0.91      1.00      0.95     10551

    accuracy                           0.91     11624
   macro avg       0.64      0.50      0.48     11624
weighted avg       0.86      0.91      0.87     11624

In [0]:
y_pred = model.predict(X_test)
from sklearn.metrics import confusion_matrix,accuracy_score
print(confusion_matrix(y_test,y_pred))
accuracy_score(y_test,y_pred)

[[   10  1063]
 [   14 10537]]

0.9073468685478321